<div class="flag flag-no">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 110 80" width="110" height="80">
    <defs>
      <path d="M-2.3-3.02h114.39v85.61H-2.3V-3.02z" id="a"/>
      <path d="M35.07-8.06h23.02V97.7H35.07V-8.06z" id="b"/>
      <path d="M-7.19 30.36v23.02h124.46V30.36H-7.19z" id="c"/>
      <path d="M40.38-2.99h11.5V82.7H40.38V-4.06z" id="d"/>
      <path d="M-11.7 47.58V36.06h124.46v11.52H-11.7z" id="e"/>
    </defs>
    <use xlink:href="#a" fill="#ef2b2d"/>
    <use xlink:href="#b" fill="#fff"/>
    <use xlink:href="#c" fill="#fff"/>
    <use xlink:href="#d" fill="#002868"/>
    <use xlink:href="#e" fill="#002868"/>
  </svg>
</div>
