.pagination {
  text-align: center;
  background: #dfdfdf;
  cursor: default;
  padding: 5px;
  border-width: 2px;

  a, span, em {
    padding: 0.2em 0.5em;
  }

  a, .current {
    display: inline-block;
    padding: 0 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    font-weight: bold;
    text-decoration: none;
  }

  a {
    background: #00a5dd;
    box-shadow: inset 0 1px 0 rgba(0, 145, 194, 0.8), 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 0.875em;
    color: #17317f;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
  }

  .current {
    background: #c8c8c8;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.8);
    color: #ff0084;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  }

  .previous_page {
    margin-right: 1em;
  }

  .next_page {
    margin-left: 1em;
  }

  .disabled {
    color: #aaaaaa;
  }

  a:hover {
    border-color: #003366;
    background: #0063dc;
    color: white;
  }
}
