body {
  background: image-url('body.jpg');
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.important {
  font-weight: bold;
  font-size: 1.75em;
  padding: 2px;
  border: 2px solid red;
  border-radius: 25%;
}



.information-bar {
  padding: 13px 10px 10px 13px;
   background-color: #00a5dd;
   color: #ffffff;
   min-height: 1em;
   font-size: 1.0em;
   font-weight: bold;
}

.order-pod {
   background-color: #ffffff;
   border: 1px solid #00a5dd;
   color: #17317f;
   margin-bottom: 1em;
   overflow: hidden;
   position: relative;
}

h4 {
   display: block;
   -webkit-margin-before: 1.33em;
   -webkit-margin-after: 1.33em;
   -webkit-margin-start: 0px;
   -webkit-margin-end: 0px;
   font-weight: bold;
}


.button--secondary {
   background-color: #00a5dd;
   border-bottom: 3px solid #0091c2;
   border-radius: 0.2em;
   color: #ffffff;
}


.headed-box .head {
 padding: 13px 10px 13px 16px;
 background: #efefef;
 font-size: 1.0em;
 font-weight: normal;
}
.headed-box .head:before,
.headed-box .head:after {
 content: " ";
 display: table;
}
.headed-box .head:after { clear: both; }
.headed-box .head { *zoom: 1; }

.headed-box .content {
 padding: 18px;
 background: white;
 border: solid 1px #e4e4e4;
 font-size: 14px;
 color: #777;
}

table {
  th {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  }
  tr, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    }
    tr:hover {background-color: #f5f5f5}
  }
