body {
  background: image-url('body.jpg');
  background-size: 100% 75%;
  background-repeat: no-repeat;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
    font-family: arial;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.important {
  font-weight: bold;
  font-size: 1.75em;
  padding: 2px;
  border: 2px solid red;
  border-radius: 25%;
  font-family: arial;
}

.warning {
  color: red;
}

.title {
  margin: 50px 100px;
  padding: 13px 10px 10px 13px;
  background-color: #17317f;
  color: #ffffff;
  min-height: 1em;
  font-size: 1.0em;
  font-weight: bold;
  font-family: arial;
}

.information-bar {
  padding: 13px 10px 10px 13px;
  background-color: #00a5dd;
  color: #ffffff;
  min-height: 1em;
  font-size: 1.0em;
  font-weight: bold;
  font-family: arial;
}

.order-pod {
  margin: 50px 100px;
  background-color: #ffffff;
  border: 1px solid #00a5dd;
  color: #17317f;
  overflow: hidden;
  position: relative;
  font-family: arial;
}

.headed-box .head {
  padding: 13px 10px 13px 16px;
  background: #efefef;
  font-size: 1.0em;
  font-weight: normal;
  font-family: arial;
}

.headed-box .head {
  *zoom: 1;
}

.headed-box .head:before,
.headed-box .head:after {
  content: " ";
  display: table;
  font-family: arial;
}

.headed-box .head:after {
  clear: both;
}

.headed-box .content {
  padding: 18px;
  background: white;
  border: solid 1px #e4e4e4;
  font-size: 14px;
  color: #777;
  font-family: arial;
}

.head {
  &__total {
    text-align: center;
  }
}

table {
  th {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    background-color: #fedc07;
    font-family: arial;
  }

  td {
    width: 32%;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-family: arial;
  }

  tr:hover {
    background-color: #f5f5f5
  };

  tr:nth-child(even) {
    background-color: rgba(221,246,255,0.9)
  };
}
